<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @supermercado.logo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @supermercado.nombre %>
</p>

<%= link_to 'Edit', edit_supermercado_path(@supermercado) %> |
<%= link_to 'Back', supermercados_path %>
