<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag @producto.imagen %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Supermercado:</strong>
  <%= @producto.supermercado_id %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
