<h1>ComparaMercados</h1>
<%= form_tag root_path, :method => 'get' do %>
	<div class="small-12">
    <div class="row collapse">
      <div class="small-10 columns">
				<%= text_field_tag :busqueda, params[:busqueda], placeholder: "Buscar" %>
      </div>
      <div class="small-2 columns">
      	<%= submit_tag "Buscar", :name => nil , :class => "button postfix" %>
      </div>
    </div>
  </div>
<% end %>
<br></br>
<!-- <a href="#" class="button expand">Crea tu Lista</a> -->
<br></br>
<% unless params[:busqueda].blank? %>
	<h3 class="subheader">Resultado de la búsqueda</h3>	
<% else %>
	<h3 class="subheader">Top Productos</h3>
<% end %>
	<% @productos.each do |producto| %>
		</br>
		<%= image_tag producto.imagen_url(:thumb).to_s %>
		<h4 class="subheader"><small><%= producto.descripcion %></small></h4>
		<%= link_to "Ver producto", action: :ver_producto, id: producto.id %>
		<br>
	<% end %>